@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

body {
  width: 100vw;
  background-color: $light-grayish-blue;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  @include flex-display(row, center, center);
  padding: 1rem;
  line-height: 1.4;
}
